.wrapper {
	display: flex;
	flex-direction: column;
	border: 1px solid #191919;
	background-color: #191919;
	border-radius: 6px;
	padding: 20px 15px;
	width: 1068px;
	/* justify-content: space-between; */
	gap: 16px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 39.8px;
}
.title {
	color: #b8b8b8;
	font-size: 20px;
	font-weight: 600;
}
.buttonClearCart {
	padding: 8px 20px;
}
.emptyCart {
	color: #b8b8b8;
	font-size: 24px;
	font-weight: 600;
	margin: 125px auto;
}

.items {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 10px;
	overflow-y: auto;
}
.items::-webkit-scrollbar {
	width: 6px;
}
.items::-webkit-scrollbar-track {
	background: #191919;
}

.items::-webkit-scrollbar-thumb {
	background: #b8b8b8;
	border-radius: 6px;
}
.cartItem {
	border: 1px solid #212123;
	background-color: #212123;
	border-radius: 8px;
	display: flex;
	max-height: 80px;
	padding: 12px 16px;
	gap: 16px;
}
.img {
	width: 100%;
	max-width: 80px;
	max-height: 100%;
	border-radius: 6px;
}
.productInfo {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 100%;
	justify-content: space-between;
}
.description {
	display: flex;
	flex-direction: column;
	gap: 3px;
	width: 280px;
}
.productName {
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
}
.productCategorySize {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.productCategory {
	color: #b8b8b8;
	font-size: 14px;
	font-weight: 500;
}
.priceQuantity {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	width: 50%;
}
.price {
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
}
.size {
	color: #576067;
	font-size: 14px;
	font-weight: 500;
}
.inCart {
	color: #8b57c6;
	font-size: 16px;
	font-weight: 600;
	line-height: 21.79px;
	/* transition: all 0.3s ease-in-out; */
}
.inCart:hover {
	background-color: #8b57c6;
	border: 1px solid #8b57c6;
	color: #ffffff;
	scale: 1.05;
	border-radius: 6px;
	padding: 8px 35px;
}

.button {
	padding: 8px 20px;
}
.notification {
	position: fixed;
	top: -50px;
	left: 0;
	right: 0;
	background-color: #5c635c;
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	animation: slideDown 0.5s ease-in-out forwards,
		slideUp 0.5s ease-in-out 2.5s forwards;
}

@keyframes slideDown {
	from {
		top: -50px;
	}
	to {
		top: 0;
	}
}

@keyframes slideUp {
	from {
		top: 0;
	}
	to {
		top: -50px;
	}
}

@media (max-width: 1400px) {
	.wrapper {
		max-width: 800px;
		gap: 5px;
	}
}

@media (max-width: 990px) {
	.wrapper {
		max-width: 700px;
		padding: 10px 15px;
		gap: 15px;
	}
}

@media (max-width: 770px) {
}
