.wrapper {
	display: flex;
	flex-direction: column;
	border: 1px solid #212123;
	background-color: #212123;
	border-radius: 8px;
}
.cartItem {
	display: flex;
	height: 100px;
	padding: 12px 16px;
	gap: 16px;
}
.img {
	width: 100%;
	height: 100%;
	max-width: 80px;
	border-radius: 6px;
	
}
.productInfo {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 100%;
	justify-content: space-between;
}
.description {
	display: flex;
	flex-direction: column;
	gap: 3px;
	width: 100%;
	max-width: 280px;
}
.productName {
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
}
.productCategorySize {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.productCategory {
	color: #b8b8b8;
	font-size: 14px;
	font-weight: 500;
}
.priceQuantity {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	width: 50%;
}
.price {
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
}
.size {
	color: #576067;
	font-size: 14px;
	font-weight: 500;
}
.inCart {
	color: #8b57c6;
	font-size: 16px;
	font-weight: 600;
	line-height: 21.79px;
}
.inCart:hover {
	background-color: #8b57c6;
	border: 1px solid #8b57c6;
	color: #ffffff;
	scale: 1.05;
	border-radius: 6px;
	padding: 8px 35px;
}

.addToCart {
	padding: 8px 20px;
}
.buttonMobile {
	display: none;
}

@media (max-width: 990px) {
	.addToCart {
		font-size: 14px;
		padding: 4px 10px;
	}
}
@media (max-width: 897px) {
	.cartItem {
		padding: 12px 6px;
		gap: 5px;
	}
	.productName {
		font-size: 14px;
	}
	.addToCart {
		font-size: 12px;
		padding: 4px 4px;
	}
	.price {
		font-size: 16px;
	}
}

@media (max-width: 598px) {
	.inCart {
		display: none;
	}
	.addToCart {
		display: none;
	}
	.buttonMobile {
		display: flex;
		justify-content: center;
		gap: 5px;
	}

	.inCartMobile {
		color: #8b57c6;
		font-size: 16px;
		font-weight: 600;
		line-height: 21.79px;
	}
	.addToCartMobile {
		padding: 8px 0px;
		width: 100%;
	}
}
@media (max-width: 480px) {
	.productName {
		font-size: 12px;
	}
	.productCategory {
		font-size: 10px;
	}
	.price {
		font-size: 16px;
	}
	.size {
		font-size: 12px;
	}
	.addToCart {
		font-size: 10px;
	}
}
