.cartItem {
	border: 1px solid #212123;
	background-color: #212123;
	border-radius: 8px;
	display: flex;
	max-height: 80px;
	padding: 12px 16px;
	gap: 16px;
}
.img {
	width: 100%;
	max-width: 80px;
	max-height: 100%;
	border-radius: 6px;
}
.productInfo {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 100%;
	justify-content: space-between;
}
.description {
	display: flex;
	flex-direction: column;
	gap: 3px;
	width: 280px;
}
.productName {
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
}
.productCategorySize {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.productCategory {
	color: #b8b8b8;
	font-size: 14px;
	font-weight: 500;
}
.priceQuantity {
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: space-between;
	width: 50%;
}
.price {
	color: #ffffff;
	font-size: 20px;
	font-weight: 700;
}
.size {
	color: #576067;
	font-size: 14px;
	font-weight: 500;
}
.inCart {
	color: #8b57c6;
	font-size: 16px;
	font-weight: 600;
	line-height: 21.79px;
	/* transition: all 0.3s ease-in-out; */
}
.inCart:hover {
	background-color: #8b57c6;
	border: 1px solid #8b57c6;
	color: #ffffff;
	scale: 1.05;
	border-radius: 6px;
	padding: 8px 35px;
}

.button {
	padding: 8px 20px;
}
@media (max-width: 1400px) {
	
}

@media (max-width: 990px) {
	
}

@media (max-width: 770px) {
}
@media (max-width: 480px) {
	
	.productName {
		font-size: 12px;
	}
	.productCategory {
		font-size: 10px;
	}
	.price {
		font-size: 16px;
	}
	.size {
		font-size: 12px;
	}
	.button{
		font-size: 10px;
	}
}
