.poster {
	display: flex;
	flex-direction: column;
	border: 1px solid #191919;
	background-color: #191919;
	border-radius: 6px;
	padding: 0 4px 0 4px;
	width: 950px;
	height: 442px;
}
.title {
	color: #616e74;
	font-size: 115px;
	font-weight: 900;
	opacity: 0.3;
	text-align: center;
}
.subtitle {
	color: #616e74;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
}
.text {
	color: #f6f6f7;
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;
}
.button {
	padding: 9px 0;
	width: 125px;

	margin-top: 10px;
}

.product {
	display: flex;
	position: sticky;
}
.textContainer {
	display: flex;
	flex-direction: column;
	padding-left: 24px;
	gap: 15px;
}
.imgContainer {
	position: relative;
}
.img {
	max-width: 100%;
	height: auto;
	transform: translateY(-18%);
}

@media (max-width: 1400px) {
	.poster {
		max-width: 850px;
		height: 370px;
	}
	.textContainer {
		padding-left: 33px;
	}
	.title {
		font-size: 100px;
	}
	.text {
		font-size: 30px;
	}
	.imgContainer {
		left: 90px;
	}
	.img {
		max-width: 80%;

		transform: translateY(-16%);
	}
}

@media (max-width: 990px) {
	.poster {
		max-width: 710px;
		height: 350px;
	}

	.title {
		font-size: 83px;
	}

	.text {
		font-size: 28px;
	}

	.textContainer {
		padding-left: 30px;
		min-width: 310px;
	}
	.imgContainer {
		left: -0px;
	}
	.img {
		max-width: 95%;
		transform: translateY(-15%);
	}
}

@media (max-width: 770px) {
	.poster {
		max-width: 700px;
	}
	.title {
		font-size: 84px;
	}
	.textContainer {
		padding-left: 26px;
		width: 340px;
	}
	.text {
		font-size: 26px;
	}
	.img {
		max-width: 95%;
		transform: translateY(-15%);
	}
}

@media (max-width: 480px) {
	.poster {
		max-width: 550px;
		height: 250px;
	}
	.title {
		font-size: 64px;
	}
	.textContainer {
		padding-left: 22px;
		width: 340px;
		gap: 10px;
	}
	.text {
		font-size: 20px;
	}
	.imgContainer {
		left: -60px;
	}
	.img {
		max-width: 115%;
		transform: translateY(-17%);
	}
} 
