.products {
	border: 1px solid #191919;
	background-color: #191919;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
}
.emptyMessage {
	color: #ffffff;
	text-align: center;
	padding: 20px;
	font-size: 16px;
}
.title {
	color: #ffffff;
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	margin-top: 22px;
}
.cardContainer {
	display: flex;
	/* justify-content: space-around; */
	gap: 20px;
	width: 100%;
	padding: 22px 15px 50px 22px;
}
.card {
	display: flex;
	flex-direction: column;
	width: 230px;
	border: 1px solid #212123;
	background-color: #212123;
	border-radius: 8px;
	transition: 0.3s;
}
.card:hover {
	scale: 1.1;
	transition: 0.3s;
}
.image {
	border-radius: 8px;
	/* height: 222px; */
}
.description {
	display: flex;
	flex-direction: column;
	gap: 7px;
}
.productsInfo {
	display: flex;
	flex-direction: column;
	padding: 0 12px;
	height: 100%;
	min-height: 120px;
	justify-content: space-around;
}
.productsTitle {
	color: #ffffff;
	font-size: 16px;
	font-weight: 600;
}
.productsCat {
	color: #b8b8b8;
	font-size: 13px;
	font-weight: 500;
}
.info {
	display: flex;
	justify-content: space-between;
}
.prices {
	display: flex;
	align-items: center;
	gap: 5px;
	flex-wrap: wrap;
}
.price {
	color: #6c3eb8;
	font-size: 20px;
	font-weight: 700;
}
.oldPrice {
	color: #576067;
	font-size: 13px;
	font-weight: 500;
	text-decoration: line-through;
}
.purchased {
	color: #576067;
	font-size: 13px;
	font-weight: 500;
	display: flex;
	align-items: center;
}
.button {
	margin: 0 auto;
	padding: 9px 20px;
	margin-bottom: 22px;
}
.swiper {
	width: 100%;
	padding: 22px 15px 50px 12px !important;
}
.cardContainerMobile {
	display: none;
}
.swiperMobile {
	display: none !important;
}

@media (max-width: 1400px) {
	.products {
		max-width: 1125px;
	}
	.cardContainer {
		padding: 20px 15px 40px 20px;
	}

	.card {
		width: 200px;
	}
}

@media (max-width: 990px) {
	.products {
		width: 950px;
	}
	.card {
		width: 170px;
	}
	.productsTitle {
		font-size: 14px;
	}
	.productsCat {
		font-size: 12px;
	}
	.info {
		flex-direction: column;
	}
}

@media (max-width: 770px) {
	.products {
		width: 700px;
	}
	.cardContainer {
		display: none;
	}
	.swiper {
		display: none !important;
	}
	.cardContainerMobile {
		display: flex;
		gap: 35px;
		width: 100%;
		padding: 22px 0px 25px 15px;
	}
	.swiperMobile {
		display: flex !important;
		width: 100%;
		padding: 22px 15px 25px 20px !important;
	}
	.card {
		width: 200px;
	}
}
@media (max-width: 480px) {
	.products {
		max-width: 550px;
	}
	.cardContainerMobile {
		gap: 20px;
		width: 100%;
		padding: 20px 0px 25px 14px;
	}
	.card {
		width: 160px;
	}
	.productsTitle{
		font-size: 12px;
	}
	.productsCat{
		font-size: 12px;
	}
	.swiperMobile {
		
		padding: 20px 15px 25px 20px !important;
	}
}
