.wrapper {
	display: flex;
	flex-direction: column;
	border: 1px solid #191919;
	background-color: #191919;
	border-radius: 6px;
	padding: 20px 15px;
	width: 1068px;
	justify-content: space-between;
	gap: 16px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 39.8px;
}
.buttonClearCart {
	padding: 8px 20px;
}
.title {
	color: #b8b8b8;
	font-size: 20px;
	font-weight: 600;
}
.emptyCart {
	color: #b8b8b8;
	font-size: 24px;
	font-weight: 600;
	text-align: center;
}
.items {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 10px;
	overflow-y: auto;
}
.items::-webkit-scrollbar {
	width: 6px;
}
.items::-webkit-scrollbar-track {
	background: #191919;
}

.items::-webkit-scrollbar-thumb {
	background: #b8b8b8;
	border-radius: 6px;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 39.8px;
}
.total {
	color: #b8b8b8;
	font-size: 20px;
	font-weight: 600;
}
.total span {
	color: #ffffff;
}
.button {
	padding: 8px 20px;
}
@media (max-width: 1400px) {
	.wrapper {
		max-width: 800px;

		gap: 5px;
	}
}

@media (max-width: 990px) {
	.wrapper {
		max-width: 700px;

		padding: 10px 15px;
		gap: 15px;
	}
}

@media (max-width: 770px) {
}

@media (max-width: 480px) {
	.wrapper {
		max-width: 550px;
	}
}
