.sidebar {
	display: flex;
	flex-direction: column;
	border: 1px solid #191919;
	background-color: #191919;
	border-radius: 6px;
	width: 100%;
	max-width: 304px;
	padding: 25px 24px 0 24px;
	height: 100%;
	min-height: 442px;
	position: sticky;
	top: 20px;
}

.emptyMessage {
	color: #ffffff;
	text-align: center;
	padding: 20px;
	font-size: 16px;
}
.loading {
	color: #f6f6f7;
}
.title {
	color: #ffffff;
	font-size: 20px;
	font-weight: 600;
}
.nav {
	margin-top: 32px;
	height: 320px;
}
.menu {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.item {
	color: #576067;
	font-size: 18px;
	font-weight: 500;
}
.item:hover {
	color: #ffffff;
}

.item:focus {
	color: #6c3eb8;
}

.footer {
	display: flex;
	justify-content: space-between;
}
.footer a {
	color: #576067;
	font-size: 16px;
	font-weight: 500px;
}
.footer a:hover {
	color: #616e74;
}

.burgerMenu {
	position: fixed;
	top: 20px;
	right: 40px;
	z-index: 1000;
	display: none;
}
.burgerButton {
	color: #ffffff;
	border: none;
	background-color: #191919;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	padding: 8px 12px;
	font-size: 24px;
	cursor: pointer;
}
@media (max-width: 1400px) {
	.sidebar {
		min-height: 370px;
		max-width: 250px;
	}
	.nav {
		max-height: 250px;
	}
}
@media (max-width: 990px) {
	.sidebar {
		min-height: 350px;
		max-width: 220px;
	}
	.nav {
		max-height: 230px;
	}
	.footer a {
		font-size: 12px;
	}
}
@media (max-width: 770px) {
	.burgerMenu {
		display: block;
	}
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		z-index: 999;
	}
	.sidebar {
		transform: translateX(-100%);
		transition: transform 0.3s ease-in-out;
	}
	.sidebar.open {
		transform: translateX(0);
	}
}
