.product {
	display: flex;
	border: 1px solid #191919;
	background-color: #191919;
	border-radius: 6px;
	padding: 28px 4px 24px 21px;
	width: 950px;
	height: 442px;
	gap: 31px;
}

.imagesContainer {
	display: flex;
	height: 100%;
	max-height: 380px;
	gap: 19px;
}
.current {
	border-radius: 6px;
	cursor: zoom-in;
	width: 380px;
}
.additionalImagesContainer {
	display: flex;
	flex-direction: column;
	gap: 5px;
}
.additionalImages {
	width: 91px;
	cursor: pointer;
	border-radius: 6px;
}
.info {
	display: flex;
	flex-direction: column;
	gap: 15px;
}
.title {
	color: #f6f6f7;
	font-size: 24px;
	font-weight: 500;
}
.price {
	color: #f6f6f7;
	font-size: 20px;
	font-weight: 700;
}
.color {
	color: #f6f6f7;
	font-size: 16px;
	font-weight: 500;
	display: flex;
	gap: 16px;
}
.color span {
	color: #576067;
}
.sizesContainer {
	display: flex;
	gap: 16px;
	align-items: center;
}
.sizesContainer span {
	color: #576067;
	font-size: 16px;
	font-weight: 500;
}
.sizesList {
	display: flex;
	gap: 5px;
}
.size {
	color: #f6f6f7;
	font-size: 14px;
	font-weight: 500;
	border: 1px solid #212123;
	background-color: #212123;
	border-radius: 8px;
	padding: 4px 8px;
	cursor: pointer;
}
.size:hover {
	border: 1px solid #6c3eb8;
	background-color: #6c3eb8;
}
.selected {
	border: 1px solid #6c3eb8;
	background-color: #6c3eb8;
}
.description {
	color: #b8b8b8;
	font-size: 14px;
	font-weight: 400;
	/* width: 100%; */
	max-width: 380px;
	overflow-y: auto;
}
.description::-webkit-scrollbar {
	width: 6px;
}
.description::-webkit-scrollbar-track {
	background: #191919;
}

.description::-webkit-scrollbar-thumb {
	background: #b8b8b8;
	border-radius: 6px;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.buttonContainer {
	display: flex;
	gap: 15px;
	margin-top: 15px;
}
.button {
	padding: 9px 20px;
}

.button:disabled {
	background-color: #576067;
	border-color: #576067;
	color: #b8b8b8;
	cursor: not-allowed;
	transform: none;
	scale: 1;
}

.favoritesButton {
	color: #b8b8b8;
	font-size: 16px;
	font-weight: 600;
	padding: 9px 20px;
	border: 1px solid #576067;
	background-color: #576067;
	border-radius: 6px;
	transition: all 0.3s ease-in-out;
}
.favoritesButton:hover {
	background-color: #616e74;
	border: 1px solid #616e74;
	color: #ffffff;
	scale: 1.05;
}

.footer {
	display: flex;
	justify-content: space-around;
	margin-top: 10px;
}
.purchased {
	color: #576067;
	font-size: 12px;
	font-weight: 500;
}
.find {
	color: #576067;
	font-size: 12px;
	font-weight: 500;
	transition: all 0.3s ease-in-out;
}
.find:hover {
	color: #616e74;
	scale: 1.05;
}

.thumbnailWrapper {
	position: relative;
	cursor: pointer;
	border-radius: 6px;
	overflow: hidden;
}

.activeThumbnail {
	border: 2px solid #6c3eb8;
}

.notification {
	position: fixed;
	top: -50px;
	left: 0;
	right: 0;
	background-color: #5c635c;
	color: white;
	text-align: center;
	padding: 10px;
	font-size: 16px;
	font-weight: bold;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	z-index: 1000;
	animation: slideDown 0.5s ease-in-out forwards,
		slideUp 0.5s ease-in-out 2.5s forwards;
}

@keyframes slideDown {
	from {
		top: -50px;
	}
	to {
		top: 0;
	}
}

@keyframes slideUp {
	from {
		top: 0;
	}
	to {
		top: -50px;
	}
}

@media (max-width: 1400px) {
	.product {
		max-width: 800px;
		height: 370px;
	}
	.title {
		font-size: 18px;
	}
	.price {
		font-size: 16px;
	}
	.color {
		font-size: 14px;
	}
	.sizesContainer span {
		font-size: 14px;
	}
	.size {
		font-size: 12px;
	}

	.button {
		padding: 4px 20px;
		font-size: 15px;
	}
	.description {
		padding: 0 5px 0 0;
	}
}

@media (max-width: 990px) {
	.product {
		max-width: 700px;
		height: 350px;
	}
	.imagesContainer {
		flex-direction: column;
		gap: 10px;
	}
	.current {
		width: 220px;
	}
	.additionalImagesContainer {
		flex-direction: row;
	}
	.additionalImages {
		width: 69px;
	}
	.title {
		font-size: 20px;
	}
	.price {
		font-size: 18px;
	}

	.info {
		gap: 10px;
	}
	.description {
		padding: 0 5px 0 0;
		max-width: 420px;
	}
}

@media (max-width: 770px) {
	.description {
		padding: 0 5px 0 0;
		max-width: 420px;
	}
}

@media (max-width: 480px) {
	.product {
		max-width: 550px;
	}
}
