.modal_wrapper {
	display: flex;
	justify-content: flex-end;
	background-color: #212123cc;
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
}
.modal_content {
	display: flex;
	flex-direction: column;
	background-color: #191919;
	gap: 30px;
	padding: 40px;
	width: 100%;
	max-width: 350px;
}
.modal_header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.modal_title {
	font-size: 1.563rem;
	font-weight: 600;
	color: #f6f6f7;
	text-align: center;
	width: 100%;
}

.modal_close {
	cursor: pointer;
}
