.banner {
	display: flex;
}
.leftSide {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #191919;
	border-radius: 6px;
	width: 100%;
	max-width: 637px;
	position: relative;
}
.sneaker {
	position: absolute;
	top: 50%;
	left: -4%;
}
.console {
	position: absolute;
	top: 77%;
	left: 64%;
}
.text {
	color: #6c3eb8;
	font-size: 70px;
	font-weight: 300;
}
.text span {
	color: #6c3eb8;
	font-size: 150px;
	font-weight: 400;
}
.button {
	padding: 9px 20px;
	margin-top: 30px;
}

.rightSide {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.discount {
	position: absolute;
	color: #212123;
	font-size: 20px;
	font-weight: 500;
	padding-top: 515px;
}
.discount span {
	color: #6c3eb8;
	font-size: 20px;
	font-weight: 600;
}

@media (max-width: 1400px) {
	.banner {
		max-width: 1125px;
	}
	.text {
		font-size: 50px;
	}
	.text span {
		font-size: 100px;
	}
	.console {
		top: 290px;
	}
	.discount {
		padding-top: 370px;
	}
}

@media (max-width: 990px) {
	.text {
		font-size: 40px;
	}
	.text span {
		font-size: 80px;
	}
	.console {
		top: 250px;
		left: 390px;
		width: 200px;
	}
	.discount {
		padding-top: 300px;
		font-size: 16px;
		width: 141px;
	}
}

@media (max-width: 770px) {
	.banner {
		width: 700px;
	}
	.text {
		font-size: 30px;
	}
	.text span {
		font-size: 60px;
	}
	.sneaker {
		width: 160px;
	}
	.console {
		top: 225px;
		left: 230px;
		width: 160px;
	}
	.discount {
		padding-top: 260px;
		font-size: 16px;
		width: 141px;
	}
}
@media (max-width: 480px) {
	.banner {
		max-width: 550px;
	}
	.button {
		margin-top: 10px;
	}
	.text {
		font-size: 30px;
	}
	.text span {
		font-size: 60px;
	}
	.sneaker {
		width: 120px;
		top: 62%;
		left: -6%;
	}
	.console {
		top: 205px;
		left: 150px;
		width: 130px;
	}
	.discount {
		padding-top: 230px;
	}
}
