.banner {
	display: flex;
}
.leftSide {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #191919;
	border-radius: 6px;
	width: 100%;
	max-width: 50%;
	position: relative;
}
.sneaker {
	position: absolute;
	max-width: 100%;
	height: auto;
	transform: translateY(180%) translateX(-115%);
}
.console {
	position: absolute;
	max-width: 100%;
	height: auto;
	transform: translateY(280%) translateX(80%);
}
.text {
	color: #6c3eb8;
	font-size: 70px;
	font-weight: 300;
}
.text span {
	color: #6c3eb8;
	font-size: 150px;
	font-weight: 400;
}
.button {
	padding: 9px 20px;
	margin-top: 30px;
}

.rightSide {
	display: flex;
	flex-direction: column-reverse;
	align-items: center;
	width: 100%;
	max-width: 50%;
}
.discount {
	position: absolute;
	color: #212123;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 10px;
}
.discount span {
	color: #6c3eb8;
	font-size: 20px;
	font-weight: 600;
}

@media (max-width: 1400px) {
	.banner {
		max-width: 1125px;
	}
	.text {
		font-size: 50px;
	}
	.text span {
		font-size: 100px;
	}
	.sneaker {
		max-width: 35%;
		transform: translateY(160%) translateX(-105%);
	}
	.console {
		max-width: 45%;
		transform: translateY(270%) translateX(75%);
	}
}

@media (max-width: 990px) {
	.banner {
		max-width: 950px;
	}
	.text {
		font-size: 40px;
	}
	.text span {
		font-size: 80px;
	}

	.discount {
		font-size: 16px;
		width: 141px;
	}
}

@media (max-width: 770px) {
	.banner {
		max-width: 700px;
		flex-direction: column;
	}
	.text {
		font-size: 40px;
	}
	.text span {
		font-size: 80px;
	}
	.sneaker {
		width: 160px;
	}
	.leftSide {
		max-width: 100%;
	}
	.button {
		margin-bottom: 20px;
	}
	.rightSide {
		max-width: 100%;
	}
	.img {
		width: 100%;
		border-radius: 6px;
		max-height: 540px;
	}
	.discount {
		font-size: 16px;
		width: 141px;
	}
	.sneaker {
		max-width: 25%;
		transform: translateY(90%) translateX(-160%);
	}
	.console {
		max-width:30%;
		transform: translateY(180%) translateX(115%);
	}
}
@media (max-width: 480px) {
	.banner {
		max-width: 550px;
	}
	.button {
		margin-top: 10px;
	}
	.text {
		font-size: 30px;
	}
	.text span {
		font-size: 60px;
	}
}
